<head>
<meta charset="UTF-8">
<title>Exceptional Realty Group - Luxury Homes - About</title>
<link rel="stylesheet" href="./style.css">
<!-- Don't forget to link your CSS file! -->
</head>
<body>
<header>
40 changes: 0 additions & 40 deletions40  
style.css
@@ -3,43 +3,3 @@ body {
height: 100%;
margin: 0;
}

header {
text-align: center;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
}

nav a {
padding: 0 10px;
background-color: #bbb;
}

figcaption {
text-align: center;
font-size: 8pt;
}

#featured-property p {
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
width: 800px;
}

#details {
display: block;
text-align: center; 
}

#details div {
background-color: red;
text-align: center; 
float: left;
width: 25%;
}